<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Barber Shop</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <header class="header navbar-light" style="background-color: #e3f2fd">
      <nav class="nav">
        <a class="nav-link btn btn-primary" href="/">Home</a>
        <a class="nav-link btn btn-primary" href="/login">Login</a>
        <button class="nav-link btn btn-primary" id="logout" >Logout</button>
      </nav>
      <h1 class="header--heading--primary">My Barber Shop</h1>
    </header>
  {{{body}}}
</body>

<script src="/js/logout.js"></script>

</html>