<p>homepage</p>
<h2>Select from the menu below</h2>

<a href="/api/manageusers" class="btn btn-primary" >Manage Users</a>
<a href="/api/services" class="btn btn-primary">Manage Services</a>
<a href="/api/activity" class="btn btn-primary">Enter Activity</a>
<a href="/api/" class="btn btn-primary">Reports</a>