<p>homepage</p>
<h2>Select from the menu below</h2>

<button type="button" class="btn btn-primary">Manage Users</button>
<button type="button" class="btn btn-primary">Manage Services</button>
<button type="button" class="btn btn-primary">Enter Activity</button>
<button type="button" class="btn btn-primary">Reports</button>